.buttonWrap {
  text-align: center;
}
.buttonCtaPrimary {
  background-color: #70ba2c;
  box-shadow: 0 4px 0 #41a233;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  position: relative;
  transition: all .15s cubic-bezier(0,0,.4,1);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 12px;
  max-width: 320px;
  width: 80%;
}