.cemeteryWrap {
  border: 1px solid #A99C8A;
  border-radius: 4px;
  overflow: hidden;
  max-width: 740px;
  margin: auto;
  margin-top: 12px;
}
.cemeteryHeader {
  background: #EAE7E2;
  padding: 4px 8px;
}
.cemeteryHeaderTitle {
  margin: 0;
  font-size: 18px;
}
.cemeteryHeaderSpec {
  margin: 0;
  font-size: 14px;
}
.cemeteryContents {
  padding: 8px;
}
.cemeteryImage {
  height: 160px;
  background: gray;
}
.cemeteryReview {
  background: #F4F3F1;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}
.cemeteryAccess {
  margin-top: 4px;
  p {
    margin: 0;
  }
  font-size: 16px;
}
.cemeteryPrice {
  margin-top: 4px;

}
.cemeteryFeatures {
  margin-top: 4px;

}
.cemeteryFeaturesLabel {
  display: inline;
  font-size: 12px;
  color: #9F6A00;
  border: 1px solid #9F6A00;
  border-radius: 4px;
  padding: 4px 8px;
  &:not(:first-child) {
    margin-left: 4px;
  }
}