.headerWrap {
  background-color: #fff;
  border-top: 4px solid #ffc758;
  border-bottom: 1px solid #F4F3F1;
}

.headerInner {
  max-width: 1080px;
  height: 54px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}